name: "project_dodle"
services:
  flask:
    build: flask
    ports:
      - "56733:8000"
    volumes:
      - ./flask:/flask_app
      - ./flask/static:/flask_app/static  # แชร์โฟลเดอร์ static (CSS, JS)
      - ./flask/templates:/flask_app/templates  # แชร์โฟลเดอร์ templates (HTML)
    env_file:
      - .env.dev
    command: >
      sh -c "flask run --host=0.0.0.0 --port=8000 & 
      npx browser-sync start --proxy 'flask:8000' --files 'flask_app/templates/*.html, flask_app/static/css/*.css, flask_app/static/js/*.js'"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
  db:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: hello_flask
      POSTGRES_PASSWORD: hello_flask
      POSTGRES_DB: hello_flask_dev
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
volumes:
  postgres_data:

