@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    font-family: Poppins;
}

.img_user{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    align-items: right;
}


.color_back{
    background-color: rgba(247, 166, 201, 0.43);
    background-color: rgba(247, 166, 201, 1);
}

.user_info {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 15px; 
}

.create_group{
    display: flex;
    justify-content: flex-end;
    align-items: center; /* จัดให้ user name และรูปอยู่ตรงกลางกัน */
}

.header_tab{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.type_of_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.type_of_form p{
    background-color: rgba(247, 166, 201, 0.43);
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
}

.user_current{
    margin-top: 30px;
    font-size: 30px;
}



/*---------------------------------------เลือกเวลา ที่ว่าง -----------------------------------------*/
.manage_time{
    background-color: rgba(255, 188, 249, 0.19);
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;  
    color: black; 
}

.manage_img{
    margin-top: 5px;
    display: flex;
    gap: 15px;
}

.icon1,.icon2 {
    border: 1px solid black; /* ใส่กรอบสีน้ำเงิน */
    padding: 5px; /* เพิ่มระยะห่างระหว่างกรอบกับไอคอน */
    border-radius: 5px; /* ทำมุมกรอบให้โค้ง */
}
.icon1{
    background-color: rgba(254, 226, 245, 1);
}

.icon2{
    background-color: rgba(201, 228, 255, 1);
}

/*---------------------------------------เลือกเวลา ที่ว่าง -----------------------------------------*/

.form-floating {
    margin-bottom: 20px; /* เพิ่มระยะห่างระหว่างแต่ละ field */
}

.form_group{
    width: 60%;
}


/*---------------------------calender -------------------------------  */
.calender{
    margin: 0 auto; /* จัดให้อยู่กึ่งกลาง */
    padding: 15px;
    width: 400px;
}

.calender-day div {
    display: flex;
    justify-content: center; /* จัดกลางแนวนอน */
    align-items: center;
    height: 50px; /* ความสูงของแต่ละช่อง */
}

.btn_day {
    width: 40px; /* ขนาดปุ่ม */
    height: 40px; /* ขนาดปุ่ม */
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 30px; /* ทำให้ข้อความในปุ่มอยู่กลาง */
    box-sizing: border-box;
}

.btn_close_calender{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn_close_calender button{
    border: none;
    background-color: transparent;
}

.btn_close_calender h6{
    margin-top: 20px;
}

.calender-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.next_month{
    border: none;
    background-color: transparent;
    font-size: 35px;
    color: #4d4b4b; 
}


.calender-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 คอลัมน์ */
    gap: 10px;
    margin: auto;
    text-align: center; 
    color: #4d4b4b; 
}

.calender-week{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 คอลัมน์ */
    gap: 10px;
    margin: auto;
    text-align: center; 
    margin-bottom: 10px;
    color: #4d4b4b; 
}

.past_day{
    color: #aba8a8;
    font-size: 20px; /* ขนาดตัวอักษร */
    text-align: center; /* จัดข้อความให้อยู่กลาง */
    background-color: transparent;
    border: none;
}

.btn_day:hover {
    border-radius: 50%;
    background-color: rgba(255, 188, 249, 0.5);
    color: #000000;
}

.popup_calender{
    background: white;
    border-radius: 10px;
    width: 420px;
    min-height: 500px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* ตั้งค่า z-index ให้อยู่หน้าสุด */
}


.selected{
    border-radius: 50%;
    background-color: rgba(255, 188, 249, 0.5);
    border: none;
    color: #000000;
}
/*---------------------------calender -------------------------------  */





/* create time slot */
/* -----------------------------------------create time slot ---------------------------*/
.time-slot{
    margin: 0 auto; /* จัดให้อยู่กึ่งกลาง */
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.select-time{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 7 คอลัมน์ */
    gap: 20px;
    margin: auto;
    text-align: center; 
}

.btn_timeslot{
    border: none; /* ลบเส้นขอบ */
    background-color: transparent; /* พื้นหลังโปร่งใส */
    font-size: 18px; /* ขนาดตัวอักษร */
    text-align: center; /* จัดข้อความให้อยู่กลาง */
    padding: 10px;
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์ให้เป็นมือเมื่อวางบนปุ่ม */
    transition: background-color 0.3s, color 0.3s; /* เพิ่มการเปลี่ยนแปลงการเปลี่ยนสี */
}

.close_popup{
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 188, 249, 1);
    color: rgb(200, 200, 200);
    border-radius: 10px;
}

.t_selected{
    border-radius: 20px;
    background-color: rgba(255, 188, 249, 0.5);
    color: rgb(200, 200, 200);
}

/*pop up */
.popup_time{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* ตั้งค่า z-index ให้อยู่หน้าสุด */
}


/* พื้นหลังจางเมื่อป๊อปอัปเปิด */
.overlay_back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* ตั้งค่า z-index ให้อยู่หน้าสุด */
}

.header_time_slot{
    display: flex;
    justify-content: space-between;
}

#btn_close_timeslot{
    border: none;
    background-color: transparent;
}
/* -----------------------------------------create time slot ---------------------------*/







.block_time_selected {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;

}

.show_date_select {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date_block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date_header {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.time_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 7 คอลัมน์ */
    gap: 20px;
    width: 100%;
    text-align: center; 
}

.create_group{
    font-size: 20px;
    padding: 15px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.session_sign_up{
    padding: 20px;
}

#session-container{
    margin-top: 20px;
    background-color: rgba(255, 188, 249, 0.19);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.col-md-4 button, input{
    width: 100%;
    font-size: 20px;
}

.btn_add_session{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.btn_add_session button{
    font-size:20px;
    border:1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 188, 249, 0.19);
    padding: 15px;
}

.session_sign_up button, 
.session_sign_up input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.session_sign_up p {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.session_sign_up button {
    background-color: rgba(255, 188, 249, 1);
    border: none;
    color: white;
    cursor: pointer;
}

.session_sign_up button:hover {
    background-color: rgba(255, 188, 249, 0.5);
}





/*------------------------------------------pop up link to --------------------------------- */

/* Style สำหรับ overlay ที่ครอบ popup */
.overlay_back_link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* ความมืดของพื้นหลัง */
    display: none; /* ซ่อน popup เริ่มต้น */
    justify-content: center;
    align-items: center;
    z-index: 999; /* ทำให้ pop-up อยู่ด้านบนสุด */
}

/* style สำหรับ container ของ popup */
.popup_link {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%; /* ขยายได้จนถึง 90% ของหน้าจอ */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Style สำหรับปุ่ม 'back to home' */
#back_to_home {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 188, 249, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btn_edit{
    border: none;
    background-color: transparent;
}

.block_alldata {
    width: 100%;
    overflow: hidden; /* ทำให้เนื้อหาไม่เกินขอบเขต */
}

.duration_row, .block_link, .time_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.block_alldata svg {
    margin-right: 10px;
    flex-shrink: 0; /* ป้องกันการย่อขนาดของไอคอน */
}

.block_alldata p {
    font-size: 1rem;
    color: #555;
    margin: 0;
    word-wrap: break-word; /* ทำให้ข้อความไม่ขยายออกนอกบรรทัด */
    flex-grow: 1; /* ทำให้ข้อความขยายออกเต็มพื้นที่ */
}

/* ปรับเพิ่มสำหรับลิงก์ */
.block_link a {
    font-size: 1rem;
    color: #555;
    word-wrap: break-word;
    word-wrap: break-word; /* ตัดข้อความในบรรทัดใหม่ */
    display: block; /* ทำให้ <a> แสดงเป็น block เพื่อให้มีการพับข้อความ */
    width: 100%; /* กำหนดให้ลิงก์ขยายเต็มความกว้าง */
    margin-top: 10px;
}

.edit{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit h4{
    color: #555;
}

.backtohome{
    width: 100%;
    display: flex;
    justify-content: center;
}


.all_day_se{
    margin-left: 30px;
}